<p>Hello {{ name }}</p>
<p>We received request to reset password for your Invicto account.</p>
<p>To restore access to your account, please follow this link and create new password.</p>
<p>
    <a href="{{ url }}">RESET PASSWORD</a>
</p>